<h1 class="mt-4">Welcome to Sign-Web, User!</h1>

@if(request.matchesRoute(['/', '/#']))
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Dashboard</li>
</ol>
@else
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">{{ title }}</li>
</ol>
@endif
