// Color theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use
.sb-sidenav-dark {
  background-color: $sidenav-bg;
  color: $sidenav-color;

  .sb-sidenav-menu {
    .sb-sidenav-menu-heading {
      color: $sidenav-heading-color;
    }

    .nav-link {
      color: $sidenav-link-color;

      .sb-nav-link-icon {
        color: $sidenav-icon-color;
      }

      .sb-sidenav-collapse-arrow {
        color: $sidenav-icon-color;
      }

      &:hover {
        color: $sidenav-link-active-color;
      }

      &.active {
        color: $sidenav-link-active-color;

        .sb-nav-link-icon {
          color: $sidenav-link-active-color;
        }
      }
    }
  }
}
