<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>

  <body>
    <div id="layoutError">
      <div id="layoutError_content">
        <main>
          @!section('error_content')
        </main>
      </div>
      <div id="layoutError_footer">
        @include('partials/footer')
      </div>
    </div>
  </body>

</html>
